:root{
    /*Palette*/
    --primario: #F1A0AF;
    --secondary: #0C120C;
    --terteary: #FAFAFA;
    --quaternary: #E3B9BC;



/*font sizes*/
--text-large: 4.8em;
--text-medium:3.6em;
--text-small: 3.2em;
--text-xsmall: 1.2em;

 /*Spacings*/
--sp-xl: 12rem;
--sp-l: 8rem;
--sp-m:5rem;
--sp-s:3.2rem;
--sp-xs:1.6rem;

}
