.footer{
    background-color: var(--quaternary);
    position: absolute;
    bottom: 0;
    width: 100%;
    
}


footer{
        background-color: var(--primario);
        width: 100%;
        color: var(--secondary);
        
        
 }
 .navbar-footer{
    display: flex;
    justify-items: auto;
    color: var(--secondary);
}