.menu-item{
    color: var(--secondary);
}

.bg-light{
    background-color: #F1A0AF;
    color: var(--terteary);
}

.talles h1{
    display: flex;
    justify-content: center;
    padding: 30px;
    
}