
.producto-tittle{

    background-color: var(--secondary);
    color: var(--terteary);
    display: flex;
    max-width: 100%;
    align-items: center;
    display: flex;
    place-items: center;
    padding-left: 29em;
    height: 100%;
    gap: 140px;
}

#banner{
    
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    
}
#banner img{
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    display: block;
    margin: auto;
    max-width: 1200px;
    min-width: 500px;
    
}

.container{
    padding-left: 0;
    margin-left: 0;
}



 
 #tittle{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 20px;
     padding-bottom: 20px;
 
 }
 

 


.produ-tittle h1{
     display: flex;
    justify-content: center;
    }
.producto-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    .producto-item .btn{
        height: 50px;
    }
    .producto-div {
        padding: 50px;  
        }

    } 
     


